



.box{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: left;

}


.storiesbox{
  width: 580px;
  height: 85px;
  padding: 15px;
  margin: 20px 5px 10px 5px;
  display: flex;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  
}

.storieframe{
  width: 55px;
  border-radius: 10px;
  background: linear-gradient(to right, rgb(255, 145, 0), rgb(255, 0, 149)) border-box;
  border-radius: 50em;
  border: 2px solid transparent;
}


.list{
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 12px;
}

.storielist{
 
 list-style: none;
 flex-direction: row;
}


