*{
  margin: 0;
  padding: 0px;
 
}

.container{
width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
overflow-x: hidden;
}

.centerbox{
  display: flex;
  width: 950px;
  height: 100vh;
  margin: 0 auto;

 

}
.right_content{
  margin-top: 50px;
  display: flex;
  width: 35%;
  height: 400px;
 
}

.maincontent{
  display: flex;
  align-items: center;
  width: 65%;
  height: 100vh;
  flex-direction: column;
  
}




.timeline{
  width: 98%;
}

.timeline img{
  width: 100%;
}